body {
    margin: 0;
}

#logo {
    margin: 10px 0 10px 38px;
}

#nav_panel_links_list {
    list-style: none;
    display: flex;

    background-color: #FAF9F8;
    padding: 20px 38px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
}

#projects_link {
    text-decoration: underline !important;
}

#blog_link {
    color: #d0021b !important;
}

#nav_panel_links_list > li {
    margin-right: 30px;
}

#nav_panel_links_list > li > a {
    font-family: LucidaGrande, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 36px;
    text-decoration: none;
}

#click_hand {
    position: absolute;
    top: 127px;
    left: 234px;
}

@media (max-width: 800px) {
    /* Тут пиши стили для мобилки.
        Стили применятся только когда страничка будет ≤800px шириной
     */
}